@import '../_vars'

.bot-img-bp > .bot-mx-bp > img
  box-shadow: none
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.7))

.decription-bp
  overflow: hidden
  background-color: #202536
  border: 1px solid #525870
  border-radius: 9px
  .photobox-main
    .photobox-hero
      flex-direction: column
      .photobox-hero-divider
        height: 0
        border: none
        margin: 10px 0
      .photobox-hero-text
        h1
          color: $accent !important
        strong
          color: #D3D3D3 !important
    .photobox-features .photobox-feature .photobox-feature-text
      h2
        color: #f2f2f2 !important
      p
        color: #ddd !important
