@import '../_vars'
  
.hero
  .hero-body
    background-image: none !important
    background-color: #222 !important
    [style*="drop-shadow"]
      filter: none !important
    .tag
      &:not(body)
        border-radius: 20px
      &.is-dark + .tag
        background-color: $accent
        color: #fff
      &.is-danger a
        background-color: darken($accent, 20%)
        border-radius: 10px
        padding-left: 7px
        & + a
          margin-left: 5px
    .img-circle
      border-radius: 0
      animation: none
    .is-10
      position: relative
      #status
        position: absolute
        margin: 0
        font-size: 0
        top: 35px
        &:before
          display: block
          width: 32px
          height: 32px
          bottom: 10px
      .title#highlight
        padding-left: 40px
      .button
        &:not(.is-warning)
          background-color: #333
          color: #fff
        &.is-link
          background-color: $accent
          color: #fff
        &.is-white
          background-color: darken($accent, 10%)
          color: #fff

.decription-bp
  overflow: hidden
  background-color: #202536
  border: 1px solid #525870
  border-radius: 9px
  .photobox-main
    .photobox-hero
      flex-direction: column
      .photobox-hero-divider
        height: 0
        border: none
        margin: 10px 0
      .photobox-hero-text
        h1
          color: $accent !important
        strong
          color: #D3D3D3 !important
    .photobox-features .photobox-feature .photobox-feature-text
      h2
        color: #f2f2f2 !important
      p
        color: #ddd !important
